header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 15px 0;
    width: 100%;
}

.table {
    background-color: white;
    display: grid;
    text-align: left;
    grid-template-columns: auto;
    align-items: left;
    padding: 20px;
    margin: 20px;
    width: auto;
    border-radius: 5px;
    border-spacing: 0;
}

.listItens {
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px;
    width: 100%;
}

.title {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold
}

table {
    border-spacing: 0;
    border-radius: inherit;
}

.titleTable {
    border: none;
    border-spacing: none;
    background-color: #f0efef;
    margin: 10px
}

th {
    padding: 10px;
    margin: auto;
    border-radius: inherit;
}

.content {
    border: 1px solid #f0efef;
}

td {
    padding: 10px;
    border: 1px 0 solid #f0efef;
}