header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 15px 0;
    width: 100%;
}

.list {
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: auto
}

.listItens {
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.title {
    background-color: white;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}